/* Vos customisations des classes de Bootstrap */
body {
	box-sizing: border-box;
	font-family: 'glyphicons-halflings-regular.woff', 'glyphicons-halflings-regular.woff2';
	max-width: 99%;
	margin: auto;
}
.logo {
	padding-top: 5px;
	padding-left: 10%;
	background-color: black; 

}
.bg-red {
	padding-top: 150px;
	background-color: #ff5050;

}

.card {
	
	
	text-align: center;

}
.row {
	padding: 20px 15%;
}
.red {
	color: #ff5050;

}


.card-title {

	font-size: larger;
}
.cart-body {

}
.cart-text {
	

}

#get-involved {
	text-align: center;

	background-color: #F0F0F0; 
	padding-top: 20px;
}
.logo bg-red {
	padding-top: 150px;

}
#monModal {
	width: 300px;
	height: 250px;
}
/* Responsive Styling */

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
	#get-involved {
		
	}

}

@media (max-width: 767px) {

}
